# Deployment configuration for k-box on {{ item.key }}

version: '2.1'

networks:
  internal:
  web:
    external:
      name: reverseproxy_web

services:
  solr:
    image: "{{ item.value.images.solr }}"
    mem_limit: 2G
    cpu_shares: 1024
    restart: on-failure
{% if 'data' in item.value %}
    volumes:
      - "{{ item.value.data }}/k-search/:/opt/solr/k-search/k-search/data:rw"
{% endif %}
    networks:
      - internal

  ksearch:
    image: "{{ item.value.images.k_search }}"
    mem_limit: 1G
    cpu_shares: 1024
    restart: on-failure
    depends_on:
      - "solr"
    environment:
      - "SOLR_HOST=solr"
      - "SOLR_NAME=k-search"
      - "KLINK_REGISTRY_ENABLED=0"
      - "KLINK_REGISTRY_API_URL=https://example.com/registry/" # not used, but mandatory
      - KLINK_RETAIN_DOWNLOADED_FILES=0 # clean cached files
    networks:
      internal:
        aliases:
          - "ksearch.internal"

  ## K-Box database service part
  database:
    image: "mariadb:10"
    mem_limit: 1G
    cpu_shares: 1024
    restart: on-failure
    environment:
      MYSQL_DATABASE: "dms"
      MYSQL_USER: "dms"
      MYSQL_ROOT_PASSWORD: "db_root_pw"
      MYSQL_PASSWORD: "{{ item.value.mysql_pw | default('db_pw') }}"
{% if 'data' in item.value %}
    volumes:
      - "{{ item.value.data }}/k-box/database:/var/lib/mysql"
{% endif %}
    networks:
      - internal

  ## K-Box service part
  kbox:
    image: "{{ item.value.images.k_box }}"
    mem_limit: 1G
    cpu_shares: 1024
    restart: on-failure
    depends_on:
      - "database"
    environment:
      - "KLINK_DMS_DB_NAME=dms"
      - "KLINK_DMS_DB_USERNAME=dms"
      - "KLINK_DMS_DB_HOST=database"
      - "KLINK_DMS_DB_TABLE_PREFIX=dms_"
      - "KLINK_DMS_DB_PASSWORD={{ item.value.mysql_pw | default('db_pw') }}"
      - "KLINK_DMS_ADMIN_USERNAME={{ lookup('keepass', '/ansible/k-boxes/' + item.key + '.username') }}"
      - "KLINK_DMS_ADMIN_PASSWORD={{ lookup('keepass', '/ansible/k-boxes/' + item.key + '.password') }}"
      - "KLINK_DMS_APP_URL=https://{{ item.key }}/"
      - "KLINK_DMS_APP_INTERNAL_URL=http://kbox/"
      - "KLINK_DMS_CORE_ADDRESS=http://ksearch.internal/"
      - "DMS_CORE_USERNAME=admin@klink.org" # mandatory, no longer used for v3
      - "DMS_CORE_PASSWORD=deprecated" # mandatory, no longer used for v3
      - "KBOX_PHP_UPLOAD_MAX_FILESIZE=2048M"
      - "KBOX_PHP_POST_MAX_SIZE=2068M"
      - "KBOX_UPLOAD_LIMIT=209715200" # Hard limit of 2GB uploads
{% if 'flags' in item.value %}
      - "KBOX_FLAGS={{ item.value.flags }}"
{% endif %}
{% if 'enable_guest_network_search' in item.value %}
      - "KBOX_ENABLE_GUEST_NETWORK_SEARCH={{ item.value.enable_guest_network_search }}"
{% endif %}
{% if 'privacy' in item.value %}
      - "KBOX_LOAD_PRIVACY=true"
{% endif %}
{% if 'mail' in item.value %}
{% if 'driver' in item.value.mail %}
      - "KBOX_MAIL_DRIVER={{ item.value.mail.driver }}"
{% endif %}
{% if 'host' in item.value.mail %}
      - "KBOX_MAIL_HOST={{ item.value.mail.host }}"
{% endif %}
{% if 'port' in item.value.mail %}
      - "KBOX_MAIL_PORT={{ item.value.mail.port }}"
{% endif %}
{% if 'from_address' in item.value.mail %}
      - "KBOX_MAIL_FROM_ADDRESS={{ item.value.mail.from_address }}"
{% endif %}
{% if 'from_name' in item.value.mail %}
      - "KBOX_MAIL_FROM_NAME={{ item.value.mail.from_name }}"
{% endif %}
{% if 'username' in item.value.mail %}
      - "KBOX_MAIL_USERNAME={{ item.value.mail.username }}"
{% endif %}
{% if 'password' in item.value.mail %}
      - "KBOX_MAIL_PASSWORD={{ item.value.mail.password }}"
{% endif %}
{% endif %}
{% if 'analytics' in item.value %}
{% if 'token' in item.value.analytics %}
      - "KBOX_ANALYTICS_TOKEN={{ item.value.analytics.token }}"
{% endif %}
{% if 'service' in item.value.analytics %}
      - "KBOX_ANALYTICS_SERVICE={{ item.value.analytics.service }}"
{% endif %}
{% if 'matomo_domain' in item.value.analytics %}
      - "KBOX_ANALYTICS_MATOMO_DOMAIN={{ item.value.analytics.matomo_domain }}"
{% endif %}
{% endif %}
{% if 'support' in item.value %}
{% if 'uservoice_token' in item.value.support %}
      - KBOX_SUPPORT_SERVICE=uservoice
      - "KBOX_SUPPORT_USERVOICE_TOKEN={{ item.value.support.uservoice_token }}"
{% elif 'mail_address' in item.value.support %}
      - KBOX_SUPPORT_SERVICE=mail
      - "KBOX_SUPPORT_MAIL_ADDRESS={{ item.value.support.mail_address }}"
{% endif %}
{% endif %}
{% if 'quota' in item.value %}
{% if 'maximum' in item.value.quota %}
      - KBOX_DEFAULT_USER_STORAGE_QUOTA={{ item.value.quota.maximum }}
{% endif %}
{% if 'threshold' in item.value.quota %}
      - KBOX_DEFAULT_STORAGE_QUOTA_THRESHOLD_NOTIFICATION={{ item.value.quota.threshold }}
{% endif %}
{% endif %}
{% if 'registration' in item.value %}
{% if 'enabled' in item.value.registration %}
      - KBOX_USER_REGISTRATION=true
{% endif %}
{% if 'require_invite' in item.value.registration %}
      - KBOX_USER_REGISTRATION_INVITE_ONLY=true
{% endif %}
{% endif %}
    env_file:
      - kbox.env # app key
{% if 'storage' in item.value %}
    volumes:
      - "{{ item.value.storage }}/k-box/data:/var/www/dms/storage:rw"
{% elif 'data' in item.value %}
    volumes:
      - "{{ item.value.data }}/k-box/data:/var/www/dms/storage:rw"
{% endif %}
{% if 'privacy' in item.value %}
      - "./privacy-legal.en.md:/var/www/dms/resources/assets/pages/stubs/privacy-legal.en.md"
      - "./privacy-summary.en.md:/var/www/dms/resources/assets/pages/stubs/privacy-summary.en.md"
{% endif %}
    networks:
      - internal
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: {{ item.key }}"
      - "traefik.docker.network=reverseproxy_web"
