{# here we set the application keys that are used for cookie generation.
   it is important that they are unique per installation and 32 byte in
   length. We have only access to a couple variables that are
     1) Unknown to a potential attacker and
     2) Deterministic (not changing between runs).
   Here we will concat username and password of the main K-Box user and
   password, and use them to generate an md5 hash. We are rather safe
   against reconstruction, since the entropy is quite high and will
   therefore most likely lead to collisions instead of password
   retrieval. Additionally, the password should have been changed by the
   librarian at this point. #}
KLINK_DMS_APP_KEY={{ lookup('keepass', '/ansible/k-boxes/' + item.key + '.password') | hash('md5') }}
